* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}


main {
    width: 80%;
    height: 600px;
    margin: auto;
    position: relative;
    overflow: hidden;

}

.slide {
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    overflow: hidden;
    transition: 1s;
}


.left {
    position: absolute;
    top: 40%;
    left: 0;
    font-size: 3rem;
    border: none;
    outline: none;
    color: white;
    background-color: black;
    cursor: pointer;
}

.right {
    position: absolute;
    top: 40%;
    right: 0;
    font-size: 3rem;
    border: none;
    outline: none;
    color: white;
    background-color: black;
    cursor: pointer;
}

.bg1 {
    background-image: url('https://cdn.pixabay.com/photo/2023/12/03/18/47/indian-8428022_1280.jpg');
}

.bg2 {
    background-image: url('https://cdn.pixabay.com/photo/2017/01/07/19/42/incense-1961430_1280.jpg');
}

.bg3 {
    background-image: url('https://cdn.pixabay.com/photo/2018/01/25/14/12/nature-3106213_1280.jpg');
}

.bg4 {
    background-image: url('https://cdn.pixabay.com/photo/2016/11/29/04/18/hot-air-balloons-1867279_1280.jpg');
}

.bg5 {
    background-image: url('https://cdn.pixabay.com/photo/2016/11/23/15/48/audience-1853662_1280.jpg');
}

.bg6 {
    background-image: url('https://cdn.pixabay.com/photo/2014/03/28/21/39/holi-300343_1280.jpg');
}

.bg7 {
    background-image: url('https://cdn.pixabay.com/photo/2018/03/03/06/26/girl-3194977_1280.jpg');
}
.bg8 {
    background-image: url('https://cdn.pixabay.com/photo/2019/03/19/09/58/dreamcatcher-4065288_1280.jpg');
}


/* gallery part */


.second_section {
    width: 100%;
    height: 200px;
    margin: 10px auto;
    text-align: center;
}

.gallery {
    width: 80%;
    height: 200px;
    /* background-color: white;  */
    /* border: 4px solid green; */
    /* display: inline; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    gap: 1rem;
    /* overflow: scroll; */
    flex-wrap: nowrap;
}

.slidesss {
    width: 250px;
    height: 150px;
    border: 2px solid black;
    overflow: hidden;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

/* .bgsub1{
    background-image: url('https://cdn.pixabay.com/photo/2023/12/03/18/47/indian-8428022_1280.jpg');
} */




.container {
    max-width: 1200px;
    width: 80%;
    margin-left: 160px;
    margin-top: 20px;
}

.slider-wrapper {
    position: relative;
}


.slider-wrapper .image-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 18px;
    font-size: 0;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
}

.slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
}

.slider-wrapper .image-list .image-item {
    width: 300px;
    height: 180px;
    object-fit: cover;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider-scrollbar .scrollbar-track {
    background: #ccc;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
}

.slider-scrollbar:hover .scrollbar-track {
    height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: red;
    top: 0;
    bottom: 0;
    width: 25%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
}

.slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

.bg11 {
    background-image: url('https://cdn.pixabay.com/photo/2023/12/03/18/47/indian-8428022_1280.jpg');
}

.bg12 {
    background-image: url('https://cdn.pixabay.com/photo/2017/01/07/19/42/incense-1961430_1280.jpg');
}

.bg13 {
    background-image: url('https://cdn.pixabay.com/photo/2018/01/25/14/12/nature-3106213_1280.jpg');
}

.bg14 {
    background-image: url('https://cdn.pixabay.com/photo/2016/11/29/04/18/hot-air-balloons-1867279_1280.jpg');
}

.bg15 {
    background-image: url('https://cdn.pixabay.com/photo/2016/11/23/15/48/audience-1853662_1280.jpg');
}

.bg16 {
    background-image: url('https://cdn.pixabay.com/photo/2014/03/28/21/39/holi-300343_1280.jpg');
}

.bg17 {
    background-image: url('https://cdn.pixabay.com/photo/2018/03/03/06/26/girl-3194977_1280.jpg');
}
.bg18 {
    background-image: url('https://cdn.pixabay.com/photo/2019/03/19/09/58/dreamcatcher-4065288_1280.jpg');
}
